$main-color: black;
$main-size: 16px;
$main-font: arial, helvetica, sans-serif;

.hidden {
  display: none;
}
.show {
  display: block;
}

.fav_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: red;
  align-items: center;

  button {
    width: 200px;
    margin-top: 1em;
  }

  h1 {
    text-align: center;
    margin-top: 2em;
  }
}
